*.md       text  merge=text diff=text eol=lf

*.json     text  merge=json diff=text eol=lf linguist-language=JSON-with-Comments
*.js       text  merge=text diff=text eol=lf
*.cjs      text  merge=text diff=text eol=lf
*.mjs      text  merge=text diff=text eol=lf
*.ts       text  merge=text diff=text eol=lf
*.tsx      text  merge=text diff=text eol=lf

*.yml      text  merge=text diff=text eol=lf
*.yaml     text  merge=text diff=text eol=lf

*.html     text  merge=text diff=text eol=lf

package.json text merge=json diff=text eol=lf
package-lock.json text merge=json diff=text eol=lf
